* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.html {
  font-size: 62.5%;
}
body {
  background-color: rgb(40, 42, 50);
  color: #ffffff;
}

.app {
  max-width: 95%;
  margin: 2rem auto;
}

.main-section {
  display: flex;
}
/*
//////
sidebar
//////*/
.sidebar {
  background-color: #39424c;
  padding: 1.5rem;
  border-radius: 1rem;
  height: 150vh;
}
.film-icon {
  transform: scale(1.5);
  margin-bottom: 5rem;
}
.icon {
  display: block;
  fill: rgba(167, 167, 167, 0.872);
  margin-bottom: 2rem;
  transition: all 0.3s ease;
}
.icon:hover,
.active {
  transform: scale(1.2);
  fill: #fff;
}
.icon-box {
  position: relative;
}
.icon-title {
  position: absolute;
  top: 100%;

  font-size: 0.6rem;
  background-color: #000000;
  padding: 0.5px 2px;
  color: #adadad;
}

/* 
//////
MOVIE SECTION
//////////
*/
.input {
  margin-top: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search-icon {
  background: none;
  border: none;
}
.results {
  margin: 0 0 2rem 1rem;
}
input {
  color: #dbdada;
  border: none;
  font-size: 1.2rem;
  background: none;
  width: 25rem;
  padding: 0.5rem;
}
input:focus {
  outline: none;
}

/*
//////////movies section
///////// */

.trending-movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-left: 1rem;
}

.img {
  width: 100%;
  height: 190px;
  border-radius: 5px;
}
span {
  font-size: 0.8rem;
  display: inline-block;
  margin: 0 1rem 0.5rem 0;
  color: #bdbdbd;
}
p {
  color: #e5e5e5;
}
h3 {
  margin: 0 0 2rem 1rem;
}
.recommended-movies,
.filtered-movies {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  column-gap: 1rem;
  margin-left: 1rem;
}
.recommended {
  margin-top: 5rem;
}

.hidden {
  display: none;
}

.box {
  position: relative;
}
.bookmark,
.bookmark-active {
  position: absolute;
  right: 0.6rem;
  top: 0.6rem;
  background-color: #5b5b5b;
  padding: 2px;
  border-radius: 50%;
}

.bookmark {
  fill: #ada8a8;
}
.bookmark-active {
  fill: #fff;
}
.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 15rem;
}
